APP_ADMIN_PASSWORD=CHANGE_ME
APP_INTERN_PASSWORD=CHANGE_ME
APP_EXTERN_PASSWORD=CHANGE_ME

FTP_HOST=CHANGE_ME
FTP_PORT=990
FTP_USERNAME=CHANGE_ME
FTP_PASSWORD=CHANGE_ME

FTP_FTPS=true
FTP_PASSIVE_MODE=true

SESSION_COOKIE_SECURE=true
SERVER_PORT=8080
